$yellow:#ffce72;

.education_slider{
    clear: both;
    color: white;
}

.carousel-inner{
    .item{
        height: 100vh;
    }
}

.carousel-control.left{
    background-image:none;
}

.carousel-control.right{
    background-image:none;
}

.carousel-inner > .item > img{
    width: 100%;
    filter: brightness(20%);
}

.carousel-indicators .active{
    margin: 1px;
    width: 17px;
    height: 17px;
    background: $yellow;
}

.carousel-indicators li{
    width: 14px;
    height: 14px;
    border: 2px solid $yellow;
}

.carousel-caption{
    top: 35%;
    left:15%;
    right: 15%;

    h1{
        font-family: 'Bubblegum Sans', cursive;
        font-size: 90px;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: white;
        white-space: nowrap;
        span{
            color:$yellow;
        }
    }     
    p{
        font-size: 16px;
        line-height: 27px;
    }   
}

.carousel-indicators {
    bottom: 20px;
}

.about-school{
    padding: 40px 0;
    background: white;

    h2{
        font-family: 'Bubblegum Sans', cursive;
    }
    strong{
        color:$yellow;
    }
    span{
        color:$yellow;
    }
}

@media only screen and (min-width: 481px){
    .about-school{
        h2{
            font-size: 45px;
        }
    }    
}

@media only screen and (max-width: 1240px){
    .carousel-caption{
        h1 {
            font-size: 55px;;
            margin-bottom: 20px;
        }
        p{
            font-size: 15px;
            line-height: 23px;
        }
    }     
}

@media only screen and (max-width: 960px){
    .carousel-caption{
        h1 {
            font-size: 43px;
            margin-bottom: 15px;
        }
    }     
}

@media only screen and (max-width: 767px){
    .carousel-indicators{
        display: none;
    }
    .carousel-caption {
        top: 30%;
    }     
}

@media only screen and (max-width: 425px){
    .carousel-indicators{
        display: none;
    }
    .carousel-caption {
        h1{
            white-space: pre-wrap;
            line-height: 1;
            font-size: 35px;
            margin-bottom: 0;
        }
        p{
            display: none;
        }
    }     
}